{% extends 'partials/base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %} 
    <div class="container" style="margin-bottom: 20px; display: block;">
        <div class="row" style="margin-bottom: 20px; margin-left: 260px;">
            <button style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(33, 177, 177); border: none; border-radius: 5px; margin-right: 10px;"><a style="text-decoration: none;" href="{% url 'edit' post.id %}">Edit</a></button>
            <button style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background-color: rgb(213, 73, 63); border: none; border-radius: 5px;"><a style="text-decoration: none;" href="{% url 'delete' post.id %}">Delete</a></button>
        </div>
        <div class="card" style="margin-bottom: 20px; margin: auto; width: 700px;">
            <div class="card__header">
                <img src="{{post.image.url}}" alt="card__image" class="card__image" width="700">
            </div>
            <div class="card__body">
                    <span class="tag tag-blue">{{post.category}}</span>
                    <h4><a style="text-decoration: none;" href=""> {{post.title}}</a> </h4>
                    <p>{{post.body}}</p>
                
            </div>
        
            <div class="card__footer">
                <div class="user">
                    <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                    <div class="user__info">
                        <h5>Jane Doe</h5>
                        <small>2h ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}